*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/wp-cache-config.php
*.sublime-project
*.sublime-workspace
.sass-cache
node_modules
.sublime-gulp.cache
/.hg
/.hgignore
sxd
.sass-cache
node_modules
.sublime-gulp.cache
_gsdata_