/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-i-c-o-n-c-l-o-s-e-w-h-i-t-e-name: 'sprite-ICON-CLOSE-WHITE';
$sprite-i-c-o-n-c-l-o-s-e-w-h-i-t-e-x: 100px;
$sprite-i-c-o-n-c-l-o-s-e-w-h-i-t-e-y: 50px;
$sprite-i-c-o-n-c-l-o-s-e-w-h-i-t-e-offset-x: -100px;
$sprite-i-c-o-n-c-l-o-s-e-w-h-i-t-e-offset-y: -50px;
$sprite-i-c-o-n-c-l-o-s-e-w-h-i-t-e-width: 50px;
$sprite-i-c-o-n-c-l-o-s-e-w-h-i-t-e-height: 50px;
$sprite-i-c-o-n-c-l-o-s-e-w-h-i-t-e-total-width: 157px;
$sprite-i-c-o-n-c-l-o-s-e-w-h-i-t-e-total-height: 125px;
$sprite-i-c-o-n-c-l-o-s-e-w-h-i-t-e-image: '../img/sprite.png';
$sprite-i-c-o-n-c-l-o-s-e-w-h-i-t-e: (100px, 50px, -100px, -50px, 50px, 50px, 157px, 125px, '../img/sprite.png', 'sprite-ICON-CLOSE-WHITE', );
$sprite-i-c-o-n-f-a-c-e-b-o-o-k-d-a-r-k-b-l-u-e-name: 'sprite-ICON-FACEBOOK-DARKBLUE';
$sprite-i-c-o-n-f-a-c-e-b-o-o-k-d-a-r-k-b-l-u-e-x: 50px;
$sprite-i-c-o-n-f-a-c-e-b-o-o-k-d-a-r-k-b-l-u-e-y: 0px;
$sprite-i-c-o-n-f-a-c-e-b-o-o-k-d-a-r-k-b-l-u-e-offset-x: -50px;
$sprite-i-c-o-n-f-a-c-e-b-o-o-k-d-a-r-k-b-l-u-e-offset-y: 0px;
$sprite-i-c-o-n-f-a-c-e-b-o-o-k-d-a-r-k-b-l-u-e-width: 50px;
$sprite-i-c-o-n-f-a-c-e-b-o-o-k-d-a-r-k-b-l-u-e-height: 50px;
$sprite-i-c-o-n-f-a-c-e-b-o-o-k-d-a-r-k-b-l-u-e-total-width: 157px;
$sprite-i-c-o-n-f-a-c-e-b-o-o-k-d-a-r-k-b-l-u-e-total-height: 125px;
$sprite-i-c-o-n-f-a-c-e-b-o-o-k-d-a-r-k-b-l-u-e-image: '../img/sprite.png';
$sprite-i-c-o-n-f-a-c-e-b-o-o-k-d-a-r-k-b-l-u-e: (50px, 0px, -50px, 0px, 50px, 50px, 157px, 125px, '../img/sprite.png', 'sprite-ICON-FACEBOOK-DARKBLUE', );
$sprite-i-c-o-n-f-a-c-e-b-o-o-k-w-h-i-t-e-name: 'sprite-ICON-FACEBOOK-WHITE';
$sprite-i-c-o-n-f-a-c-e-b-o-o-k-w-h-i-t-e-x: 0px;
$sprite-i-c-o-n-f-a-c-e-b-o-o-k-w-h-i-t-e-y: 50px;
$sprite-i-c-o-n-f-a-c-e-b-o-o-k-w-h-i-t-e-offset-x: 0px;
$sprite-i-c-o-n-f-a-c-e-b-o-o-k-w-h-i-t-e-offset-y: -50px;
$sprite-i-c-o-n-f-a-c-e-b-o-o-k-w-h-i-t-e-width: 50px;
$sprite-i-c-o-n-f-a-c-e-b-o-o-k-w-h-i-t-e-height: 50px;
$sprite-i-c-o-n-f-a-c-e-b-o-o-k-w-h-i-t-e-total-width: 157px;
$sprite-i-c-o-n-f-a-c-e-b-o-o-k-w-h-i-t-e-total-height: 125px;
$sprite-i-c-o-n-f-a-c-e-b-o-o-k-w-h-i-t-e-image: '../img/sprite.png';
$sprite-i-c-o-n-f-a-c-e-b-o-o-k-w-h-i-t-e: (0px, 50px, 0px, -50px, 50px, 50px, 157px, 125px, '../img/sprite.png', 'sprite-ICON-FACEBOOK-WHITE', );
$sprite-i-c-o-n-g-o-o-g-l-e-p-l-u-s-d-a-r-k-b-l-u-e-name: 'sprite-ICON-GOOGLEPLUS-DARKBLUE';
$sprite-i-c-o-n-g-o-o-g-l-e-p-l-u-s-d-a-r-k-b-l-u-e-x: 50px;
$sprite-i-c-o-n-g-o-o-g-l-e-p-l-u-s-d-a-r-k-b-l-u-e-y: 50px;
$sprite-i-c-o-n-g-o-o-g-l-e-p-l-u-s-d-a-r-k-b-l-u-e-offset-x: -50px;
$sprite-i-c-o-n-g-o-o-g-l-e-p-l-u-s-d-a-r-k-b-l-u-e-offset-y: -50px;
$sprite-i-c-o-n-g-o-o-g-l-e-p-l-u-s-d-a-r-k-b-l-u-e-width: 50px;
$sprite-i-c-o-n-g-o-o-g-l-e-p-l-u-s-d-a-r-k-b-l-u-e-height: 50px;
$sprite-i-c-o-n-g-o-o-g-l-e-p-l-u-s-d-a-r-k-b-l-u-e-total-width: 157px;
$sprite-i-c-o-n-g-o-o-g-l-e-p-l-u-s-d-a-r-k-b-l-u-e-total-height: 125px;
$sprite-i-c-o-n-g-o-o-g-l-e-p-l-u-s-d-a-r-k-b-l-u-e-image: '../img/sprite.png';
$sprite-i-c-o-n-g-o-o-g-l-e-p-l-u-s-d-a-r-k-b-l-u-e: (50px, 50px, -50px, -50px, 50px, 50px, 157px, 125px, '../img/sprite.png', 'sprite-ICON-GOOGLEPLUS-DARKBLUE', );
$sprite-i-c-o-n-s-a-r-r-o-w-b-l-u-e-m-i-d-d-l-e-left-name: 'sprite-ICONS-ARROW-BLUE-MIDDLE-left';
$sprite-i-c-o-n-s-a-r-r-o-w-b-l-u-e-m-i-d-d-l-e-left-x: 70px;
$sprite-i-c-o-n-s-a-r-r-o-w-b-l-u-e-m-i-d-d-l-e-left-y: 100px;
$sprite-i-c-o-n-s-a-r-r-o-w-b-l-u-e-m-i-d-d-l-e-left-offset-x: -70px;
$sprite-i-c-o-n-s-a-r-r-o-w-b-l-u-e-m-i-d-d-l-e-left-offset-y: -100px;
$sprite-i-c-o-n-s-a-r-r-o-w-b-l-u-e-m-i-d-d-l-e-left-width: 40px;
$sprite-i-c-o-n-s-a-r-r-o-w-b-l-u-e-m-i-d-d-l-e-left-height: 7px;
$sprite-i-c-o-n-s-a-r-r-o-w-b-l-u-e-m-i-d-d-l-e-left-total-width: 157px;
$sprite-i-c-o-n-s-a-r-r-o-w-b-l-u-e-m-i-d-d-l-e-left-total-height: 125px;
$sprite-i-c-o-n-s-a-r-r-o-w-b-l-u-e-m-i-d-d-l-e-left-image: '../img/sprite.png';
$sprite-i-c-o-n-s-a-r-r-o-w-b-l-u-e-m-i-d-d-l-e-left: (70px, 100px, -70px, -100px, 40px, 7px, 157px, 125px, '../img/sprite.png', 'sprite-ICONS-ARROW-BLUE-MIDDLE-left', );
$sprite-i-c-o-n-s-a-r-r-o-w-b-l-u-e-m-i-d-d-l-e-right-name: 'sprite-ICONS-ARROW-BLUE-MIDDLE-right';
$sprite-i-c-o-n-s-a-r-r-o-w-b-l-u-e-m-i-d-d-l-e-right-x: 110px;
$sprite-i-c-o-n-s-a-r-r-o-w-b-l-u-e-m-i-d-d-l-e-right-y: 100px;
$sprite-i-c-o-n-s-a-r-r-o-w-b-l-u-e-m-i-d-d-l-e-right-offset-x: -110px;
$sprite-i-c-o-n-s-a-r-r-o-w-b-l-u-e-m-i-d-d-l-e-right-offset-y: -100px;
$sprite-i-c-o-n-s-a-r-r-o-w-b-l-u-e-m-i-d-d-l-e-right-width: 40px;
$sprite-i-c-o-n-s-a-r-r-o-w-b-l-u-e-m-i-d-d-l-e-right-height: 7px;
$sprite-i-c-o-n-s-a-r-r-o-w-b-l-u-e-m-i-d-d-l-e-right-total-width: 157px;
$sprite-i-c-o-n-s-a-r-r-o-w-b-l-u-e-m-i-d-d-l-e-right-total-height: 125px;
$sprite-i-c-o-n-s-a-r-r-o-w-b-l-u-e-m-i-d-d-l-e-right-image: '../img/sprite.png';
$sprite-i-c-o-n-s-a-r-r-o-w-b-l-u-e-m-i-d-d-l-e-right: (110px, 100px, -110px, -100px, 40px, 7px, 157px, 125px, '../img/sprite.png', 'sprite-ICONS-ARROW-BLUE-MIDDLE-right', );
$sprite-i-c-o-n-s-a-r-r-o-w-b-l-u-e-m-i-d-d-l-e-name: 'sprite-ICONS-ARROW-BLUE-MIDDLE';
$sprite-i-c-o-n-s-a-r-r-o-w-b-l-u-e-m-i-d-d-l-e-x: 150px;
$sprite-i-c-o-n-s-a-r-r-o-w-b-l-u-e-m-i-d-d-l-e-y: 0px;
$sprite-i-c-o-n-s-a-r-r-o-w-b-l-u-e-m-i-d-d-l-e-offset-x: -150px;
$sprite-i-c-o-n-s-a-r-r-o-w-b-l-u-e-m-i-d-d-l-e-offset-y: 0px;
$sprite-i-c-o-n-s-a-r-r-o-w-b-l-u-e-m-i-d-d-l-e-width: 7px;
$sprite-i-c-o-n-s-a-r-r-o-w-b-l-u-e-m-i-d-d-l-e-height: 40px;
$sprite-i-c-o-n-s-a-r-r-o-w-b-l-u-e-m-i-d-d-l-e-total-width: 157px;
$sprite-i-c-o-n-s-a-r-r-o-w-b-l-u-e-m-i-d-d-l-e-total-height: 125px;
$sprite-i-c-o-n-s-a-r-r-o-w-b-l-u-e-m-i-d-d-l-e-image: '../img/sprite.png';
$sprite-i-c-o-n-s-a-r-r-o-w-b-l-u-e-m-i-d-d-l-e: (150px, 0px, -150px, 0px, 7px, 40px, 157px, 125px, '../img/sprite.png', 'sprite-ICONS-ARROW-BLUE-MIDDLE', );
$sprite-i-c-o-n-s-a-r-r-o-w-w-h-i-t-e-s-m-a-l-l-l-e-f-t-name: 'sprite-ICONS-ARROW-WHITE-SMALL-LEFT';
$sprite-i-c-o-n-s-a-r-r-o-w-w-h-i-t-e-s-m-a-l-l-l-e-f-t-x: 30px;
$sprite-i-c-o-n-s-a-r-r-o-w-w-h-i-t-e-s-m-a-l-l-l-e-f-t-y: 100px;
$sprite-i-c-o-n-s-a-r-r-o-w-w-h-i-t-e-s-m-a-l-l-l-e-f-t-offset-x: -30px;
$sprite-i-c-o-n-s-a-r-r-o-w-w-h-i-t-e-s-m-a-l-l-l-e-f-t-offset-y: -100px;
$sprite-i-c-o-n-s-a-r-r-o-w-w-h-i-t-e-s-m-a-l-l-l-e-f-t-width: 40px;
$sprite-i-c-o-n-s-a-r-r-o-w-w-h-i-t-e-s-m-a-l-l-l-e-f-t-height: 7px;
$sprite-i-c-o-n-s-a-r-r-o-w-w-h-i-t-e-s-m-a-l-l-l-e-f-t-total-width: 157px;
$sprite-i-c-o-n-s-a-r-r-o-w-w-h-i-t-e-s-m-a-l-l-l-e-f-t-total-height: 125px;
$sprite-i-c-o-n-s-a-r-r-o-w-w-h-i-t-e-s-m-a-l-l-l-e-f-t-image: '../img/sprite.png';
$sprite-i-c-o-n-s-a-r-r-o-w-w-h-i-t-e-s-m-a-l-l-l-e-f-t: (30px, 100px, -30px, -100px, 40px, 7px, 157px, 125px, '../img/sprite.png', 'sprite-ICONS-ARROW-WHITE-SMALL-LEFT', );
$sprite-header-search-ico-w-name: 'sprite-header-search-ico-w';
$sprite-header-search-ico-w-x: 0px;
$sprite-header-search-ico-w-y: 0px;
$sprite-header-search-ico-w-offset-x: 0px;
$sprite-header-search-ico-w-offset-y: 0px;
$sprite-header-search-ico-w-width: 50px;
$sprite-header-search-ico-w-height: 50px;
$sprite-header-search-ico-w-total-width: 157px;
$sprite-header-search-ico-w-total-height: 125px;
$sprite-header-search-ico-w-image: '../img/sprite.png';
$sprite-header-search-ico-w: (0px, 0px, 0px, 0px, 50px, 50px, 157px, 125px, '../img/sprite.png', 'sprite-header-search-ico-w', );
$sprite-lmenu-io-992-name: 'sprite-lmenu-io-992';
$sprite-lmenu-io-992-x: 100px;
$sprite-lmenu-io-992-y: 0px;
$sprite-lmenu-io-992-offset-x: -100px;
$sprite-lmenu-io-992-offset-y: 0px;
$sprite-lmenu-io-992-width: 50px;
$sprite-lmenu-io-992-height: 50px;
$sprite-lmenu-io-992-total-width: 157px;
$sprite-lmenu-io-992-total-height: 125px;
$sprite-lmenu-io-992-image: '../img/sprite.png';
$sprite-lmenu-io-992: (100px, 0px, -100px, 0px, 50px, 50px, 157px, 125px, '../img/sprite.png', 'sprite-lmenu-io-992', );
$sprite-page-go-back-name: 'sprite-page-go-back';
$sprite-page-go-back-x: 30px;
$sprite-page-go-back-y: 107px;
$sprite-page-go-back-offset-x: -30px;
$sprite-page-go-back-offset-y: -107px;
$sprite-page-go-back-width: 31px;
$sprite-page-go-back-height: 6px;
$sprite-page-go-back-total-width: 157px;
$sprite-page-go-back-total-height: 125px;
$sprite-page-go-back-image: '../img/sprite.png';
$sprite-page-go-back: (30px, 107px, -30px, -107px, 31px, 6px, 157px, 125px, '../img/sprite.png', 'sprite-page-go-back', );
$sprite-pagination-comments-count-name: 'sprite-pagination-comments-count';
$sprite-pagination-comments-count-x: 0px;
$sprite-pagination-comments-count-y: 100px;
$sprite-pagination-comments-count-offset-x: 0px;
$sprite-pagination-comments-count-offset-y: -100px;
$sprite-pagination-comments-count-width: 30px;
$sprite-pagination-comments-count-height: 25px;
$sprite-pagination-comments-count-total-width: 157px;
$sprite-pagination-comments-count-total-height: 125px;
$sprite-pagination-comments-count-image: '../img/sprite.png';
$sprite-pagination-comments-count: (0px, 100px, 0px, -100px, 30px, 25px, 157px, 125px, '../img/sprite.png', 'sprite-pagination-comments-count', );
$spritesheet-width: 157px;
$spritesheet-height: 125px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($sprite-i-c-o-n-c-l-o-s-e-w-h-i-t-e, $sprite-i-c-o-n-f-a-c-e-b-o-o-k-d-a-r-k-b-l-u-e, $sprite-i-c-o-n-f-a-c-e-b-o-o-k-w-h-i-t-e, $sprite-i-c-o-n-g-o-o-g-l-e-p-l-u-s-d-a-r-k-b-l-u-e, $sprite-i-c-o-n-s-a-r-r-o-w-b-l-u-e-m-i-d-d-l-e-left, $sprite-i-c-o-n-s-a-r-r-o-w-b-l-u-e-m-i-d-d-l-e-right, $sprite-i-c-o-n-s-a-r-r-o-w-b-l-u-e-m-i-d-d-l-e, $sprite-i-c-o-n-s-a-r-r-o-w-w-h-i-t-e-s-m-a-l-l-l-e-f-t, $sprite-header-search-ico-w, $sprite-lmenu-io-992, $sprite-page-go-back, $sprite-pagination-comments-count, );
$spritesheet: (157px, 125px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
