@import 'import/reset';
@import 'import/variables';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin.scss';
@import 'import/wordpress.scss';
@import 'sprite';
@import 'font_fontawesome';
@import 'font_opensans';



body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: normal;
  line-height: $base-line-height;

  color: $base-font-color;
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}
p,pre {
  margin: 0 0 $small-spacing;
}
a {
  color: $action-color;
  text-decoration: none;
  transition: color 0.1s linear;

  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }

  &:active,
  &:focus {
    outline: none;
    color: lighten($action-color, 15%);
  }
}
hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}
img,
picture {
  margin: 0;
  max-width: 100%;
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
}
.inner {
  position: relative;

  width: $width;
  margin: 0 auto;
  @extend .clearfix;
}

header {
  .logo {
    display: block;

    width: 100px;
    img {
      max-width: 100%;
    }
  }
}


.backhead {
  z-index: -50;

  width: 100%;

  background-repeat: no-repeat;
  background-position: center;
}
.bkblock0n {
  position: absolute;
  top: 0;

  height: 170px;
}


.container {
  width: $width;
  padding: 0 0 $footer;
}





footer {
  position: relative;

  width: 100%;
  height: $footer;
  margin: $footer_margin auto 0;

  background-color: #f16529;
  .mainfooter {
    width: $width;
    height: 100%;
    margin: 0 auto;

    background-color: #b3d4fc;
  }
}




@import 'import/print';
