@import '_reset.scss';
@import '_wordpress.scss';
@import '_font_fontawesome.scss';
@import '_font_opensans.scss';

$width: 980px;
$footer: 100px;
$footer_margin: $footer - 2 * $footer;

body {
   font-family: 'Open Sans', sans-serif;
   font-size: 14px;
   color: #444;
   font-weight: normal;
}
.wrapper {
  width: $width;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
}

header {

}

.backhead {
   z-index: -50;
   width: 100%;
   background-repeat: no-repeat;
   background-position: center;
}
.bkblock0n {
   position: absolute;
   top: 0;
   height: 170px;
}

.container {
   padding: 0 0 $footer;
}



footer {
   position: relative;
   width: 100%;
   height: $footer;
   margin: $footer_margin auto 0;
   background-color: #f16529;
   .mainfooter {
      width: $width;
      height: 100%;
      margin: 0 auto;
      background-color: #b3d4fc;
   }
}













@import '_print.scss';
