@use "sass:color";
@use "sass:meta";
@use "import/reset";
@use "import/variables";
@use "import/buttons";
@use "import/forms";
@use "import/lists";
@use "import/tables";
@use "import/mixin";
@use "import/helpers";

//@import 'grid/grid-bootstrap';
//@use "import/grid";
@use "grid-reflex/reflex";

@use "import/wordpress";

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

body {
  font-family: variables.$font-family-base;
  font-size: variables.$base-font-size;
  font-weight: variables.$fnorm;
  line-height: variables.$base-line-height;
  min-width: 320px;
  transition: variables.$base-transition;
  color: variables.$base-font-color;
  background-color: variables.$base-background-color;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: variables.$heading-font-family;
  font-size: variables.$base-font-size;
  line-height: variables.$heading-line-height;
  margin: 0 0 variables.$small-spacing;
}
p,
pre {
  margin: 0 0 variables.$small-spacing;
}
a {
  transition: variables.$base-transition;
  text-decoration: none;
  color: variables.$action-color;
  &:active,
  &:focus,
  &:hover {
    color: color.adjust(variables.$action-color, $lightness: -15%);
  }
  &:active,
  &:focus {
    color: color.adjust(variables.$action-color, $lightness: 15%);
    outline: none;
  }
}
hr {
  margin: variables.$base-spacing 0;
  border-top: none;
  border-right: none;
  border-bottom: variables.$base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;

  @include helpers.clearfix;
}
.container {
  position: relative;
  max-width: variables.$width;
  width: variables.$width;
}

header {
  background-color: variables.$gray-light;
  .header--logo {
    display: block;
    img {
      max-width: 100%;
    }
  }
}
nav {
  ul {
    @include helpers.clearfix;
    li {
      display: inline-block;
    }
  }
}

section {
  padding: 0;
}
article {
  @include helpers.clearfix;
}
.looper {
  @include helpers.clearfix;
}

footer {
  height: variables.$footer;
  margin: auto 0;
  background-color: variables.$gray-light;
}

@include meta.load-css("media");

// @import "fonts/font_roboto";

@include meta.load-css("import/base64");
@include meta.load-css("import/print");
