
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=77cb69abffa078a574f532cdbe3ba7c3
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress