
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=288ea6e181a99d819dbf16060294c593
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress