@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

html,
body {
  height: 100%;
}

html,
body,
button {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  line-height: 1;
  position: relative;
  width: 100%;
  margin: 0;
}

ol,
ul {
  list-style: none;
}

dd,
ol,
ul {
  padding: 0;
}

p {
  hyphens: auto;
}

blockquote,
q {
  margin: 0;
  quotes: none;
}

blockquote:before, blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  background-color: transparent;
}

a:focus {
  outline: 0;
}

a:focus, a:active, a:hover {
  outline: 0;
}

b,
strong {
  font-weight: bold;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 100%;
  _font-family: 'courier new',monospace;
}

button,
input,
select,
textarea {
  font-size: 100%;
  line-height: normal;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}

optgroup {
  font-weight: bold;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

input[type='reset'], input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

input[disabled] {
  cursor: default;
}

input[type='checkbox'], input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type='search'] {
  box-sizing: content-box;
}

input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}

input[type='search'] {
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

table td,
table th {
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

*:after, *:before {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

dfn {
  font-style: italic;
}

mark {
  color: #000;
  background-color: #ff0;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

abbr[title] {
  border-bottom: 1px dotted;
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  top: -.5em;
  vertical-align: baseline;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

img {
  width: auto;
  /* IE8 */
  max-width: 100%;
  height: auto;
  vertical-align: top;
  -ms-interpolation-mode: bicubic;
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure,
form {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

legend {
  padding: 0;
  white-space: normal;
  border: 0;
  *margin-left: -7px;
}

.clearfix, .comment-content, .wrapper, nav ul, article, .looper {
  *zoom: 1;
}

.clearfix:before, .comment-content:before, .wrapper:before, nav ul:before, article:before, .looper:before {
  display: table;
  content: '';
}

.clearfix:after, .comment-content:after, .wrapper:after, nav ul:after, article:after, .looper:after {
  display: table;
  clear: both;
  content: '';
}

.clear {
  clear: both;
}

embed,
iframe,
img,
object,
video,
.wp-caption {
  max-width: 100%;
}

.button,
.btn,
input[type='button'],
input[type='reset'],
input[type='submit'],
button {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  display: inline-block;
  padding: .75em 1em;
  cursor: pointer;
  user-select: none;
  transition: background-color 750ms ease, color 105ms ease, opacity 45ms ease;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  color: #fff;
  border: none;
  border-radius: 3px;
  background-color: #477dca;
  -webkit-font-smoothing: antialiased;
}

.button:hover, .button:focus,
.btn:hover,
.btn:focus,
input[type='button']:hover,
input[type='button']:focus,
input[type='reset']:hover,
input[type='reset']:focus,
input[type='submit']:hover,
input[type='submit']:focus,
button:hover,
button:focus {
  color: #fff;
  background-color: #2c5999;
}

.button:active,
.btn:active,
input[type='button']:active,
input[type='reset']:active,
input[type='submit']:active,
button:active {
  color: #82a7db;
}

.button:disabled,
.btn:disabled,
input[type='button']:disabled,
input[type='reset']:disabled,
input[type='submit']:disabled,
button:disabled {
  cursor: not-allowed;
  opacity: .5;
}

fieldset {
  margin: 0 0 0.55em;
  padding: 1.1em;
  border: 1px solid #ddd;
  background-color: tint(#ddd, 75%);
}

input,
label,
select {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  display: block;
}

label {
  font-weight: 600;
  margin-bottom: 0.275em;
}

label.required::after {
  content: '*';
}

label abbr {
  display: none;
}

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
textarea,
select[multiple=multiple] {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 0.55em;
  padding: 0.36667em;
  transition: background-color 750ms ease, color 105ms ease, opacity 45ms ease;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
  background-color: #fff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
}

input[type='color']:hover,
input[type='date']:hover,
input[type='datetime']:hover,
input[type='datetime-local']:hover,
input[type='email']:hover,
input[type='month']:hover,
input[type='number']:hover,
input[type='password']:hover,
input[type='search']:hover,
input[type='tel']:hover,
input[type='text']:hover,
input[type='time']:hover,
input[type='url']:hover,
input[type='week']:hover,
textarea:hover,
select[multiple=multiple]:hover {
  border-color: shade(#ddd, 20%);
}

input[type='color']:focus,
input[type='date']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='email']:focus,
input[type='month']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='time']:focus,
input[type='url']:focus,
input[type='week']:focus,
textarea:focus,
select[multiple=multiple]:focus {
  border-color: #477dca;
  outline: none;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
}

input[type='color']:disabled,
input[type='date']:disabled,
input[type='datetime']:disabled,
input[type='datetime-local']:disabled,
input[type='email']:disabled,
input[type='month']:disabled,
input[type='number']:disabled,
input[type='password']:disabled,
input[type='search']:disabled,
input[type='tel']:disabled,
input[type='text']:disabled,
input[type='time']:disabled,
input[type='url']:disabled,
input[type='week']:disabled,
textarea:disabled,
select[multiple=multiple]:disabled {
  cursor: not-allowed;
  background-color: shade(#fff, 5%);
}

input[type='color']:disabled:hover,
input[type='date']:disabled:hover,
input[type='datetime']:disabled:hover,
input[type='datetime-local']:disabled:hover,
input[type='email']:disabled:hover,
input[type='month']:disabled:hover,
input[type='number']:disabled:hover,
input[type='password']:disabled:hover,
input[type='search']:disabled:hover,
input[type='tel']:disabled:hover,
input[type='text']:disabled:hover,
input[type='time']:disabled:hover,
input[type='url']:disabled:hover,
input[type='week']:disabled:hover,
textarea:disabled:hover,
select[multiple=multiple]:disabled:hover {
  border: 1px solid #ddd;
}

textarea {
  resize: vertical;
}

input[type='search'] {
  appearance: none;
}

input[type='checkbox'],
input[type='radio'] {
  display: inline;
  margin-right: 0.275em;
}

input[type='file'] {
  width: 100%;
  margin-bottom: 0.55em;
}

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.1em;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li,
ol li {
  position: relative;
  margin: 0;
  padding: 0;
}

ul li:before,
ol li:before {
  display: none;
}

dl {
  margin-bottom: 0.55em;
}

dl dt {
  font-weight: bold;
  margin-top: 0.55em;
}

dl dd {
  margin: 0;
}

table {
  width: 100%;
  margin: 0.55em 0 0;
  table-layout: fixed;
  border-collapse: collapse;
}

table thead {
  color: #fff;
  background: #477dca;
}

table th,
table td {
  position: relative;
}

table th {
  font-weight: 600;
  font-weight: bold;
  padding: 0.55em 0;
  text-align: center;
  border-bottom: 1px solid #b7b7b7;
}

table td {
  padding: 0.55em 0;
  border-bottom: 1px solid #ddd;
}

tr,
td,
th {
  vertical-align: middle;
}

/* display block, simple used for ::after, ::before, sprites */
.dblock, ul li:before,
ol li:before {
  display: block;
  content: '';
}

/*
  Perfectly Align to Center
  http://inspirationalpixels.com/articles/10-css-hacks-and-tips
  By using transform:translate(); and position:absolute;, you can perfectly position something in the center of its parent.
*/
.align-center-parent {
  position: relative;
}

/* I'm using -webkit- otherwise this won't work on Safari based browsers */
.align-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
  Justify Grid — новое слово в разметке
  http://habrahabr.ru/post/182146/
*/
.justify-child, nav ul {
  font-size: 0 !important;
  text-align: justify !important;
  text-justify: distribute-all-lines;
}

.justify-child:after, nav ul:after {
  display: inline-block;
  width: 100%;
  content: '';
}

.justify-child > *, nav ul > * {
  font-size: medium;
  display: inline-block;
  margin: 0;
  text-align: left;
  vertical-align: top;
}

/*
  linear gradient
  http://sassmeister.com/gist/b58f6e2cc3160007c880
  http://www.sitepoint.com/building-linear-gradient-mixin-sass/
  *
  * @include linear-gradient(yellow, blue);
  * @include linear-gradient(to top, red 0%, green 50%, orange 100%);
  * @include linear-gradient(45deg, orange 0%, pink 50%, green 50.01%, green 50.01%, violet 100%);
  *
*/
/*
 * triangle generator
 * https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_triangle.scss
 * @include triangle(12px, gray, down);
 * @include triangle(12px 6px, gray lavender, up-left);
 * The $size argument can take one or two values—width height.
 * The $color argument can take one or two values—foreground-color background-color.
 * $direction: up, down, left, right, up-right, up-left, down-right, down-left
 *
*/
/*
 * @font-face mixin
 * Bulletproof font-face via Font Squirrel
 * @include fontface('family', 'assets/fonts/', 'myfontname');
 */
/*
* 3d text
* @include text3d(#0982c1);
* http://forwebdev.ru/css/sass-vs-less-vs-stylus/
*/
.alignnone {
  margin: 0.55em;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 0.55em auto;
}

.alignright {
  float: right;
  margin: 0.55em 0 1.1em 1.1em;
}

.alignleft {
  float: left;
  margin: 0.55em 1.1em 1.1em 0;
}

.wp-caption {
  max-width: 96%;
  padding: 0.55em 0.55em 0.55em;
  text-align: center;
  border: 1px solid #ddd;
  background-color: tint(#ddd, 75%);
}

.wp-caption img {
  width: auto;
  max-width: 98.5%;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
}

.wp-caption .wp-caption-text {
  font-size: 80%;
  line-height: 1.1;
  margin: 0;
  padding: 0 0.55em 0.55em;
}

.gallery-caption {
  font-size: 60%;
  line-height: 1.1;
  margin: 0;
  padding: 0 0.55em 0.55em;
}

/* Comments
--------------------------------------------- */
.comment-respond,
.entry-comments,
.entry-pings {
  margin: 0 0 1.1em;
}

.entry-comments {
  padding: 1.1em;
}

.comment-respond,
.entry-pings {
  padding: 1.1em 1.1em 1.1em;
}

.entry-comments .comment-author {
  margin-bottom: 0;
}

.comment-respond input[type='url'] input[type='text'],
.comment-respond input[type='email'] {
  width: 50%;
}

.comment-respond label {
  display: block;
  margin-right: 1.1em;
}

.comment-list li,
.ping-list li {
  list-style-type: none;
}

.comment-list li {
  margin-top: 1.65em;
  padding: 2.2em;
}

.comment-list li li {
  margin-right: -1.65em;
}

.comment {
  border: 2px solid #fff;
  border-right: none;
  background-color: tint(#ddd, 75%);
}

.comment .avatar {
  margin: 0 1.1em 1.65em 0;
}

.entry-pings .reply {
  display: none;
}

.form-allowed-tags {
  font-size: 80%;
  padding: 1.65em;
  background-color: tint(#ddd, 75%);
}

/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*!
 * Generated using the Bootstrap Customizer (http://getbootstrap.com/customize/?id=37684644372902ebd5b7)
 * Config saved to config.json and https://gist.github.com/37684644372902ebd5b7
 */
/*!
 * Bootstrap v3.3.6 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

mark {
  color: #000;
  background: #ff0;
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  top: -.5em;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
  color: inherit;
}

button {
  overflow: visible;
  text-transform: none;
}

select {
  text-transform: none;
}

button,
html input[type='button'] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type='reset'], input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input {
  line-height: normal;
}

input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input[type='checkbox'], input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

input[type='number']::-webkit-inner-spin-button, input[type='number']::-webkit-outer-spin-button {
  height: auto;
}

input[type='search'] {
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  margin: 0 2px;
  padding: .35em .625em .75em;
  border: 1px solid #c0c0c0;
}

legend {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
}

* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  text-decoration: none;
  color: #337ab7;
}

a:hover {
  text-decoration: underline;
  color: #23527c;
}

a:focus {
  text-decoration: underline;
  color: #23527c;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

figure {
  margin: 0;
}

img {
  vertical-align: middle;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-rounded {
  border-radius: 6px;
}

.img-thumbnail {
  line-height: 1.42857143;
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  transition: all .2s ease-in-out;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
}

.img-circle {
  border-radius: 50%;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  overflow: visible;
  clip: auto;
  width: auto;
  height: auto;
  margin: 0;
}

[role='button'] {
  cursor: pointer;
}

.container,
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11 {
  float: left;
}

.col-xs-12 {
  float: left;
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-1 {
  width: 8.33333333%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-pull-11 {
  right: 91.66666667%;
}

.col-xs-pull-10 {
  right: 83.33333333%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-8 {
  right: 66.66666667%;
}

.col-xs-pull-7 {
  right: 58.33333333%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-5 {
  right: 41.66666667%;
}

.col-xs-pull-4 {
  right: 33.33333333%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-2 {
  right: 16.66666667%;
}

.col-xs-pull-1 {
  right: 8.33333333%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-push-11 {
  left: 91.66666667%;
}

.col-xs-push-10 {
  left: 83.33333333%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-8 {
  left: 66.66666667%;
}

.col-xs-push-7 {
  left: 58.33333333%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-5 {
  left: 41.66666667%;
}

.col-xs-push-4 {
  left: 33.33333333%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-2 {
  left: 16.66666667%;
}

.col-xs-push-1 {
  left: 8.33333333%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-0 {
  margin-left: 0;
}

@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11 {
    float: left;
  }
  .col-sm-12 {
    float: left;
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}

@media (min-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11 {
    float: left;
  }
  .col-md-12 {
    float: left;
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}

@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11 {
    float: left;
  }
  .col-lg-12 {
    float: left;
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
}

.clearfix:before, .comment-content:before, .wrapper:before, nav ul:before, article:before, .looper:before, .clearfix:after, .comment-content:after, .wrapper:after, nav ul:after, article:after, .looper:after {
  display: table;
  content: ' ';
}

.container:before, .container:after {
  display: table;
  content: ' ';
}

.container-fluid:before, .container-fluid:after {
  display: table;
  content: ' ';
}

.row:before, .row:after {
  display: table;
  content: ' ';
}

.clearfix:after, .comment-content:after, .wrapper:after, nav ul:after, article:after, .looper:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  border: 0;
  background-color: transparent;
  text-shadow: none;
}

.hidden {
  display: none !important;
}

.affix {
  position: fixed;
}

@-ms-viewport {
  width: device-width;
}

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg,
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block,
.visible-print,
.visible-print-block,
.visible-print-inline,
.visible-print-inline-block {
  display: none !important;
}

@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}

@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}

@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table !important;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}

@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table !important;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}

@media print {
  .visible-print-block {
    display: block !important;
  }
}

@media print {
  .visible-print-inline {
    display: inline !important;
  }
}

@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}

@media print {
  .hidden-print {
    display: none !important;
  }
}

/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*!
 * Generated using the Bootstrap Customizer (http://getbootstrap.com/customize/?id=37684644372902ebd5b7)
 * Config saved to config.json and https://gist.github.com/37684644372902ebd5b7
 */
/*!
 * Bootstrap v3.3.6 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active,
.btn-default.active,
.btn-primary.active,
.btn-success.active,
.btn-info.active,
.btn-warning.active,
.btn-danger.active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-default.disabled,
.btn-primary.disabled,
.btn-success.disabled,
.btn-info.disabled,
.btn-warning.disabled,
.btn-danger.disabled,
.btn-default[disabled],
.btn-primary[disabled],
.btn-success[disabled],
.btn-info[disabled],
.btn-warning[disabled],
.btn-danger[disabled] {
  box-shadow: none;
}

fieldset[disabled] .btn-default,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-success,
fieldset[disabled] .btn-info,
fieldset[disabled] .btn-warning,
fieldset[disabled] .btn-danger {
  box-shadow: none;
}

.btn-default .badge,
.btn-primary .badge,
.btn-success .badge,
.btn-info .badge,
.btn-warning .badge,
.btn-danger .badge {
  text-shadow: none;
}

.btn:active, .btn.active {
  background-image: none;
}

.btn-default {
  border-color: #dbdbdb;
  border-color: #ccc;
  background-image: linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
  background-repeat: repeat-x;
  text-shadow: 0 1px 0 #fff;
}

.btn-default:hover, .btn-default:focus {
  background-color: #e0e0e0;
  background-position: 0 -15px;
}

.btn-default:active, .btn-default.active {
  border-color: #dbdbdb;
  background-color: #e0e0e0;
}

.btn-default.disabled, .btn-default[disabled] {
  background-color: #e0e0e0;
  background-image: none;
}

fieldset[disabled] .btn-default {
  background-color: #e0e0e0;
  background-image: none;
}

.btn-default.disabled:hover, .btn-default[disabled]:hover {
  background-color: #e0e0e0;
  background-image: none;
}

fieldset[disabled] .btn-default:hover {
  background-color: #e0e0e0;
  background-image: none;
}

.btn-default.disabled:focus, .btn-default[disabled]:focus {
  background-color: #e0e0e0;
  background-image: none;
}

fieldset[disabled] .btn-default:focus {
  background-color: #e0e0e0;
  background-image: none;
}

.btn-default.disabled.focus, .btn-default[disabled].focus {
  background-color: #e0e0e0;
  background-image: none;
}

fieldset[disabled] .btn-default.focus {
  background-color: #e0e0e0;
  background-image: none;
}

.btn-default.disabled:active, .btn-default[disabled]:active {
  background-color: #e0e0e0;
  background-image: none;
}

fieldset[disabled] .btn-default:active {
  background-color: #e0e0e0;
  background-image: none;
}

.btn-default.disabled.active, .btn-default[disabled].active {
  background-color: #e0e0e0;
  background-image: none;
}

fieldset[disabled] .btn-default.active {
  background-color: #e0e0e0;
  background-image: none;
}

.btn-primary {
  border-color: #245580;
  background-image: linear-gradient(to bottom, #337ab7 0%, #265a88 100%);
  background-repeat: repeat-x;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #265a88;
  background-position: 0 -15px;
}

.btn-primary:active, .btn-primary.active {
  border-color: #245580;
  background-color: #265a88;
}

.btn-primary.disabled, .btn-primary[disabled] {
  background-color: #265a88;
  background-image: none;
}

fieldset[disabled] .btn-primary {
  background-color: #265a88;
  background-image: none;
}

.btn-primary.disabled:hover, .btn-primary[disabled]:hover {
  background-color: #265a88;
  background-image: none;
}

fieldset[disabled] .btn-primary:hover {
  background-color: #265a88;
  background-image: none;
}

.btn-primary.disabled:focus, .btn-primary[disabled]:focus {
  background-color: #265a88;
  background-image: none;
}

fieldset[disabled] .btn-primary:focus {
  background-color: #265a88;
  background-image: none;
}

.btn-primary.disabled.focus, .btn-primary[disabled].focus {
  background-color: #265a88;
  background-image: none;
}

fieldset[disabled] .btn-primary.focus {
  background-color: #265a88;
  background-image: none;
}

.btn-primary.disabled:active, .btn-primary[disabled]:active {
  background-color: #265a88;
  background-image: none;
}

fieldset[disabled] .btn-primary:active {
  background-color: #265a88;
  background-image: none;
}

.btn-primary.disabled.active, .btn-primary[disabled].active {
  background-color: #265a88;
  background-image: none;
}

fieldset[disabled] .btn-primary.active {
  background-color: #265a88;
  background-image: none;
}

.btn-success {
  border-color: #3e8f3e;
  background-image: linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
  background-repeat: repeat-x;
}

.btn-success:hover, .btn-success:focus {
  background-color: #419641;
  background-position: 0 -15px;
}

.btn-success:active, .btn-success.active {
  border-color: #3e8f3e;
  background-color: #419641;
}

.btn-success.disabled, .btn-success[disabled] {
  background-color: #419641;
  background-image: none;
}

fieldset[disabled] .btn-success {
  background-color: #419641;
  background-image: none;
}

.btn-success.disabled:hover, .btn-success[disabled]:hover {
  background-color: #419641;
  background-image: none;
}

fieldset[disabled] .btn-success:hover {
  background-color: #419641;
  background-image: none;
}

.btn-success.disabled:focus, .btn-success[disabled]:focus {
  background-color: #419641;
  background-image: none;
}

fieldset[disabled] .btn-success:focus {
  background-color: #419641;
  background-image: none;
}

.btn-success.disabled.focus, .btn-success[disabled].focus {
  background-color: #419641;
  background-image: none;
}

fieldset[disabled] .btn-success.focus {
  background-color: #419641;
  background-image: none;
}

.btn-success.disabled:active, .btn-success[disabled]:active {
  background-color: #419641;
  background-image: none;
}

fieldset[disabled] .btn-success:active {
  background-color: #419641;
  background-image: none;
}

.btn-success.disabled.active, .btn-success[disabled].active {
  background-color: #419641;
  background-image: none;
}

fieldset[disabled] .btn-success.active {
  background-color: #419641;
  background-image: none;
}

.btn-info {
  border-color: #28a4c9;
  background-image: linear-gradient(to bottom, #5bc0de 0%, #2aabd2 100%);
  background-repeat: repeat-x;
}

.btn-info:hover, .btn-info:focus {
  background-color: #2aabd2;
  background-position: 0 -15px;
}

.btn-info:active, .btn-info.active {
  border-color: #28a4c9;
  background-color: #2aabd2;
}

.btn-info.disabled, .btn-info[disabled] {
  background-color: #2aabd2;
  background-image: none;
}

fieldset[disabled] .btn-info {
  background-color: #2aabd2;
  background-image: none;
}

.btn-info.disabled:hover, .btn-info[disabled]:hover {
  background-color: #2aabd2;
  background-image: none;
}

fieldset[disabled] .btn-info:hover {
  background-color: #2aabd2;
  background-image: none;
}

.btn-info.disabled:focus, .btn-info[disabled]:focus {
  background-color: #2aabd2;
  background-image: none;
}

fieldset[disabled] .btn-info:focus {
  background-color: #2aabd2;
  background-image: none;
}

.btn-info.disabled.focus, .btn-info[disabled].focus {
  background-color: #2aabd2;
  background-image: none;
}

fieldset[disabled] .btn-info.focus {
  background-color: #2aabd2;
  background-image: none;
}

.btn-info.disabled:active, .btn-info[disabled]:active {
  background-color: #2aabd2;
  background-image: none;
}

fieldset[disabled] .btn-info:active {
  background-color: #2aabd2;
  background-image: none;
}

.btn-info.disabled.active, .btn-info[disabled].active {
  background-color: #2aabd2;
  background-image: none;
}

fieldset[disabled] .btn-info.active {
  background-color: #2aabd2;
  background-image: none;
}

.btn-warning {
  border-color: #e38d13;
  background-image: linear-gradient(to bottom, #f0ad4e 0%, #eb9316 100%);
  background-repeat: repeat-x;
}

.btn-warning:hover, .btn-warning:focus {
  background-color: #eb9316;
  background-position: 0 -15px;
}

.btn-warning:active, .btn-warning.active {
  border-color: #e38d13;
  background-color: #eb9316;
}

.btn-warning.disabled, .btn-warning[disabled] {
  background-color: #eb9316;
  background-image: none;
}

fieldset[disabled] .btn-warning {
  background-color: #eb9316;
  background-image: none;
}

.btn-warning.disabled:hover, .btn-warning[disabled]:hover {
  background-color: #eb9316;
  background-image: none;
}

fieldset[disabled] .btn-warning:hover {
  background-color: #eb9316;
  background-image: none;
}

.btn-warning.disabled:focus, .btn-warning[disabled]:focus {
  background-color: #eb9316;
  background-image: none;
}

fieldset[disabled] .btn-warning:focus {
  background-color: #eb9316;
  background-image: none;
}

.btn-warning.disabled.focus, .btn-warning[disabled].focus {
  background-color: #eb9316;
  background-image: none;
}

fieldset[disabled] .btn-warning.focus {
  background-color: #eb9316;
  background-image: none;
}

.btn-warning.disabled:active, .btn-warning[disabled]:active {
  background-color: #eb9316;
  background-image: none;
}

fieldset[disabled] .btn-warning:active {
  background-color: #eb9316;
  background-image: none;
}

.btn-warning.disabled.active, .btn-warning[disabled].active {
  background-color: #eb9316;
  background-image: none;
}

fieldset[disabled] .btn-warning.active {
  background-color: #eb9316;
  background-image: none;
}

.btn-danger {
  border-color: #b92c28;
  background-image: linear-gradient(to bottom, #d9534f 0%, #c12e2a 100%);
  background-repeat: repeat-x;
}

.btn-danger:hover, .btn-danger:focus {
  background-color: #c12e2a;
  background-position: 0 -15px;
}

.btn-danger:active, .btn-danger.active {
  border-color: #b92c28;
  background-color: #c12e2a;
}

.btn-danger.disabled, .btn-danger[disabled] {
  background-color: #c12e2a;
  background-image: none;
}

fieldset[disabled] .btn-danger {
  background-color: #c12e2a;
  background-image: none;
}

.btn-danger.disabled:hover, .btn-danger[disabled]:hover {
  background-color: #c12e2a;
  background-image: none;
}

fieldset[disabled] .btn-danger:hover {
  background-color: #c12e2a;
  background-image: none;
}

.btn-danger.disabled:focus, .btn-danger[disabled]:focus {
  background-color: #c12e2a;
  background-image: none;
}

fieldset[disabled] .btn-danger:focus {
  background-color: #c12e2a;
  background-image: none;
}

.btn-danger.disabled.focus, .btn-danger[disabled].focus {
  background-color: #c12e2a;
  background-image: none;
}

fieldset[disabled] .btn-danger.focus {
  background-color: #c12e2a;
  background-image: none;
}

.btn-danger.disabled:active, .btn-danger[disabled]:active {
  background-color: #c12e2a;
  background-image: none;
}

fieldset[disabled] .btn-danger:active {
  background-color: #c12e2a;
  background-image: none;
}

.btn-danger.disabled.active, .btn-danger[disabled].active {
  background-color: #c12e2a;
  background-image: none;
}

fieldset[disabled] .btn-danger.active {
  background-color: #c12e2a;
  background-image: none;
}

.thumbnail,
.img-thumbnail {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #e8e8e8;
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  background-repeat: repeat-x;
}

.dropdown-menu > .active > a {
  background-color: #2e6da4;
  background-image: linear-gradient(to bottom, #337ab7 0%, #2e6da4 100%);
  background-repeat: repeat-x;
}

.dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color: #2e6da4;
  background-image: linear-gradient(to bottom, #337ab7 0%, #2e6da4 100%);
  background-repeat: repeat-x;
}

.navbar-default {
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #fff 0%, #f8f8f8 100%);
  background-repeat: repeat-x;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a {
  background-image: linear-gradient(to bottom, #dbdbdb 0%, #e2e2e2 100%);
  background-repeat: repeat-x;
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
}

.navbar-brand,
.navbar-nav > li > a {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}

.navbar-inverse {
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
  background-repeat: repeat-x;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .active > a {
  background-image: linear-gradient(to bottom, #080808 0%, #0f0f0f 100%);
  background-repeat: repeat-x;
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0;
}

@media (max-width: 767px) {
  .navbar .navbar-nav .open .dropdown-menu > .active > a {
    color: #fff;
    background-image: linear-gradient(to bottom, #337ab7 0%, #2e6da4 100%);
    background-repeat: repeat-x;
  }
  .navbar .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-image: linear-gradient(to bottom, #337ab7 0%, #2e6da4 100%);
    background-repeat: repeat-x;
  }
}

.alert {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}

.alert-success {
  border-color: #b2dba1;
  background-image: linear-gradient(to bottom, #dff0d8 0%, #c8e5bc 100%);
  background-repeat: repeat-x;
}

.alert-info {
  border-color: #9acfea;
  background-image: linear-gradient(to bottom, #d9edf7 0%, #b9def0 100%);
  background-repeat: repeat-x;
}

.alert-warning {
  border-color: #f5e79e;
  background-image: linear-gradient(to bottom, #fcf8e3 0%, #f8efc0 100%);
  background-repeat: repeat-x;
}

.alert-danger {
  border-color: #dca7a7;
  background-image: linear-gradient(to bottom, #f2dede 0%, #e7c3c3 100%);
  background-repeat: repeat-x;
}

.progress {
  background-image: linear-gradient(to bottom, #ebebeb 0%, #f5f5f5 100%);
  background-repeat: repeat-x;
}

.progress-bar {
  background-image: linear-gradient(to bottom, #337ab7 0%, #286090 100%);
  background-repeat: repeat-x;
}

.progress-bar-success {
  background-image: linear-gradient(to bottom, #5cb85c 0%, #449d44 100%);
  background-repeat: repeat-x;
}

.progress-bar-info {
  background-image: linear-gradient(to bottom, #5bc0de 0%, #31b0d5 100%);
  background-repeat: repeat-x;
}

.progress-bar-warning {
  background-image: linear-gradient(to bottom, #f0ad4e 0%, #ec971f 100%);
  background-repeat: repeat-x;
}

.progress-bar-danger {
  background-image: linear-gradient(to bottom, #d9534f 0%, #c9302c 100%);
  background-repeat: repeat-x;
}

.progress-bar-striped {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.list-group {
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}

.list-group-item.active {
  border-color: #2b669a;
  background-image: linear-gradient(to bottom, #337ab7 0%, #2b669a 100%);
  background-repeat: repeat-x;
  text-shadow: 0 -1px 0 #286090;
}

.list-group-item.active:hover, .list-group-item.active:focus {
  border-color: #2b669a;
  background-image: linear-gradient(to bottom, #337ab7 0%, #2b669a 100%);
  background-repeat: repeat-x;
  text-shadow: 0 -1px 0 #286090;
}

.list-group-item.active .badge,
.list-group-item.active:hover .badge,
.list-group-item.active:focus .badge {
  text-shadow: none;
}

.panel {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.panel-default > .panel-heading {
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  background-repeat: repeat-x;
}

.panel-primary > .panel-heading {
  background-image: linear-gradient(to bottom, #337ab7 0%, #2e6da4 100%);
  background-repeat: repeat-x;
}

.panel-success > .panel-heading {
  background-image: linear-gradient(to bottom, #dff0d8 0%, #d0e9c6 100%);
  background-repeat: repeat-x;
}

.panel-info > .panel-heading {
  background-image: linear-gradient(to bottom, #d9edf7 0%, #c4e3f3 100%);
  background-repeat: repeat-x;
}

.panel-warning > .panel-heading {
  background-image: linear-gradient(to bottom, #fcf8e3 0%, #faf2cc 100%);
  background-repeat: repeat-x;
}

.panel-danger > .panel-heading {
  background-image: linear-gradient(to bottom, #f2dede 0%, #ebcccc 100%);
  background-repeat: repeat-x;
}

.well {
  border-color: #dcdcdc;
  background-image: linear-gradient(to bottom, #e8e8e8 0%, #f5f5f5 100%);
  background-repeat: repeat-x;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1;
  min-width: 320px;
  transition: background-color 750ms ease, color 105ms ease, opacity 45ms ease;
  color: #333;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  margin: 0 0 0.55em;
}

p,
pre {
  margin: 0 0 0.55em;
}

a {
  transition: background-color 750ms ease, color 105ms ease, opacity 45ms ease;
  text-decoration: none;
  color: #477dca;
}

a:active, a:focus, a:hover {
  color: #2c5999;
}

a:active, a:focus {
  color: #82a7db;
  outline: none;
}

hr {
  margin: 1.1em 0;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #ddd;
  border-left: none;
}

img,
picture {
  max-width: 100%;
  margin: 0;
}

.wrapper {
  position: relative;
  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
}

.container {
  position: relative;
  max-width: 980px;
}

header {
  background-color: #ddd;
}

header .logo {
  display: block;
}

header .logo img {
  max-width: 100%;
}

nav ul li {
  display: inline-block;
}

nav .headnav {
  font-size: 100%;
}

section {
  padding: 0 0 50px;
}

footer {
  height: 50px;
  margin: -50px auto 0;
  background-color: #ddd;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/robotocondensed-light.eot");
  src: local("Roboto Condensed Light"), local("robotocondensed-light"), url("../fonts/robotocondensed-light.eot") format("embedded-opentype"), url("../fonts/robotocondensed-light.woff") format("woff");
}

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/robotocondensed-regular.eot");
  src: local("Roboto Condensed Regular"), local("robotocondensed-regular"), url("../fonts/robotocondensed-regular.eot") format("embedded-opentype"), url("../fonts/robotocondensed-regular.woff") format("woff");
}

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/robotocondensed-bold.eot");
  src: local("Roboto Condensed Regular"), local("robotocondensed-bold"), url("../fonts/robotocondensed-bold.eot") format("embedded-opentype"), url("../fonts/robotocondensed-bold.woff") format("woff");
}

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/robotocondensed-lightitalic.eot");
  src: local("Roboto Condensed Light Italic"), local("robotocondensed-lightitalic"), url("../fonts/robotocondensed-lightitalic.eot") format("embedded-opentype"), url("../fonts/robotocondensed-lightitalic.woff") format("woff");
}

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/robotocondensed-italic.eot");
  src: local("Roboto Condensed Italic"), local("robotocondensed-italic"), url("../fonts/robotocondensed-italic.eot") format("embedded-opentype"), url("../fonts/robotocondensed-italic.woff") format("woff");
}

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/robotocondensed-bolditalic.eot");
  src: local("Roboto Condensed Bold Italic"), local("robotocondensed-bolditalic"), url("../fonts/robotocondensed-bolditalic.eot") format("embedded-opentype"), url("../fonts/robotocondensed-bolditalic.woff") format("woff");
}

@media print {
  *,
  *:before,
  *:after {
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a {
    text-decoration: underline;
  }
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after {
    content: '';
  }
  a[href^='javascript:']:after, a[href^='#']:after {
    content: '';
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*# sourceMappingURL=maps/main.css.map */
