#base
.idea/
.DS_Store
backups

#docker
docker/env/.env
docker/*/mysql-data/

#wp
wp-content/uploads/
wp-content/updraft/
wp-content/upgrade/
wp-content/hidden-debug.log
wp-content/cache/
wp-content/w3tc-config/
wp-content/wpmvc/
wp-content/advanced-cache.php
wp-content/object-cache.php
wp-content/db.php
wp-content/ai1wm-backups/
wp-content/wp-cache-config.php
wp-content/mmr/
wp-content/wpsol-config/
wp-content/wphb-cache/
wp-content/wflogs/
wp-content/ewww/
/wp-content/upgrade-temp-backup/
wp-content/themes/twenty*
wp-content/plugins/akismet/
wp-content/plugins/hello.php
**/*.zip

#npm
node_modules
package-lock.json

#gulp
Gulp/css
Gupl/scss
Gulp/js
initdebug.nfo
