.button
input[type='button'],
input[type='reset'],
input[type='submit'],
button {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 600;
  line-height: 1;

  display: inline-block;

  padding: .75em 1em;

  cursor: pointer;
  user-select: none;
  transition: $base-transition;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;

  color: #fff;
  border: none;
  border-radius: $base-border-radius;
  background-color: $action-color;

  -webkit-font-smoothing: antialiased;
  &:hover,
  &:focus {
    color: #fff;
    background-color: darken($action-color, 15%);
  }
  &:active {
    color: lighten($action-color, 15%);
  }
  &:disabled {
    cursor: not-allowed;

    opacity: .5;
  }
}
