ul,
ol {
  margin: 0;
  padding: 0;

  list-style: none;
  li {
    position: relative;

    margin: 0;
    padding: 0;
    &:before {
      @extend .dblock;
    }
  }
}

dl {
  margin-bottom: $small-spacing;
  dt {
    font-weight: bold;

    margin-top: $small-spacing;
  }
  dd {
    margin: 0;
  }
}
