


/* Start:/bitrix/templates/main/components/bitrix/furniture.catalog.index/present-sections-list/style.css*/
/* CSS Document */
.equipment-mini-card{}
.equipment-mini-card .h4{
	font-size: 14px;
	text-align: center !important;
	width:100%;
    height: 40px;
}
.equipment-mini-card.alert{padding: 20px 14px 5px 14px;}
/* End */
/* /bitrix/templates/main/components/bitrix/furniture.catalog.index/present-sections-list/style.css */
