


/* Start:/bitrix/templates/.default/components/bizmedia/store.catalog.top/template1/style.css*/
.equipment-list-card{
	text-align: center;
	padding: 10px 14px;
	background: rgba(255,255,255,1);
	border: 1px solid rgba(235,235,235,1);
}
.specoffer-price{
	color: rgba(153,153,153,1);
}
/* End */
/* /bitrix/templates/.default/components/bizmedia/store.catalog.top/template1/style.css */
