


/* Start:/bitrix/templates/.default/components/bitrix/menu/horizontal_multilevel/style.css*/
/* Customize the navbar links to be fill the entire space of the .navbar */
@media (min-width: 980px) {
	.navbar .navbar-inner {
		padding: 0;
		-webkit-box-shadow:  0px 3px 5px 0px rgba(0, 0, 0, 0.1);
	    box-shadow:  0px 3px 5px 0px rgba(0, 0, 0, 0.1);
	}
	.navbar .nav {
		margin: 0;
		display: table;
		width: 100%;
	}
	.navbar .nav li {
		display: table-cell;
		width: 1%;
		float: none;
	}
	.navbar .nav li a {
		font-weight: bold;
		text-align: center;
		border-left: 1px solid rgba(255,217,98,.75);
		border-right: 1px solid rgba(0,0,0,.1);
	}
	.navbar .nav li:first-child a {
		border-left: 0;
		border-radius: 3px 0 0 3px;
	}
	.navbar .nav li:last-child a {
		border-right: 0;
		border-radius: 0 3px 3px 0;
	}
}

/* End */



/* Start:/bitrix/templates/.default/components/bizmedia/store.catalog.top/sidebar-specialoffers/style.css*/
.equipment-list-card{
	text-align: center;
	padding: 10px 14px;
	background: rgba(255,255,255,1);
	border: 1px solid rgba(235,235,235,1);
}
.specoffer-price{
	color: rgba(153,153,153,1);
}
.item-title{
	font-size: 14px;
	line-height: 14px;	
}
/* End */



/* Start:/bitrix/templates/.default/components/nsandrey/mailform/write-us/style.css*/
span.req
{
	color: #FF0000;
}
p.ok
{
	font-size: 12pt;
	color: green;
}
font.errortext
{
	font-size: 12pt;
	color: red;
}
input[type=file].error_field
{
	color: red;
}
input[type=text].error_field, input[type=number].error_field, textarea.error_field
{
	border: 1px solid red;
}

/* End */



/* Start:/bitrix/templates/main/styles.css*/
/**
* Team-market
*/
.tm_logo
{
    width: 450px;
}
.tm_logo_img
{
    width: 120px;
}
/* End */



/* Start:/bitrix/templates/main/template_styles.css*/
section {
  padding-top: 30px;
}
#masthead-wrapper{
	background: url(/images/bg02.jpg) no-repeat scroll left center;
}
.jumbotron {
	margin: 50px 0;
}
.jumbotron .h1 {
	font-size: 70px;
}
.jumbotron .glass{
background: rgba(0,0,0,0.5);
	padding: 25px;
}

div.catalog-list, div.catalog-detail  { padding: 1em 0 0;}

.bs-docs-sidenav h3, .bs-docs-sidenav .h3{
	font-size: 18px;
	border-bottom: 1px solid rgba(204,204,204,1);
}

@media (min-width: 1200px) {
  .bs-docs-sidenav {
    width: 258px;
  }
}

/* End */
/* /bitrix/templates/.default/components/bitrix/menu/horizontal_multilevel/style.css */
/* /bitrix/templates/.default/components/bizmedia/store.catalog.top/sidebar-specialoffers/style.css */
/* /bitrix/templates/.default/components/nsandrey/mailform/write-us/style.css */
/* /bitrix/templates/main/styles.css */
/* /bitrix/templates/main/template_styles.css */
